
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-LJs {
  flex-direction: column;
  background-color: #636363;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-njpq-wpT {
    margin-bottom: 14.6rem;
    width: 166.8rem;
    height: 161rem;
    position: relative;
    flex-shrink: 0;

    .navigation-FMH {
      height: 3.6rem;
      position: absolute;
      left: 64.7rem;
      top: 8.4rem;
      display: flex;
      align-items: center;
      width: 70.9rem;

      .home-6Mu {
        font-family: Luckiest Guy, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 8.5rem;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1;
        color: rgba(190, 227, 186, 0.7294117808);
      }
      .about-wNX {
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        font-weight: 400;
        font-family: Luckiest Guy, 'Source Sans Pro';
        color: rgba(190, 227, 186, 0.7294117808);
        margin-right: 8.6rem;
        font-size: 3.6rem;
        line-height: 1;
      }
      .works-qyh {
        margin-right: 7.5rem;
        font-size: 3.6rem;
        color: rgba(190, 227, 186, 0.7294117808);
        font-family: Luckiest Guy, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        font-weight: 400;
        line-height: 1;
      }
      .contact-xHd {
        cursor: pointer;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1;
        color: rgba(190, 227, 186, 0.7294117808);
        font-family: Luckiest Guy, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .home-sQb {
      left: 10.9rem;
      top: 0;
      width: 155.3rem;
      height: 94.2rem;
      position: absolute;

      .hi-im-o3M {
        color: #bee3ba;
        font-family: Akaya Kanadaka, 'Source Sans Pro';
        top: 19rem;
        height: 2.4rem;
        position: absolute;
        left: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.195;
        white-space: nowrap;
        width: 6.7rem;
      }
      .alexis-a-leoparte-g79 {
        height: 10.9rem;
        top: 22.4rem;
        font-weight: 400;
        font-family: Rammetto One, 'Source Sans Pro';
        width: 73rem;
        position: absolute;
        left: 0;
        font-size: 6.4rem;
        line-height: 1.69;
        color: #bee3ba;
        white-space: nowrap;
      }
      .as-an-it-student-which-involves-rigorous-coursework-in-various-it-disciplines-i-have-gained-practical-experience-through-projects-or-activities-given-by-our-professors-and-personal-endeavors-it-honed-my-ability-to-analyze-problems-troubleshoot-issues-and-develop-effective-solutions-which-are-essential-skills-in-the-it-field-my-learning-in-the-field-of-it-does-not-stop-here-i-still-need-to-engage-in-continuous-learning-to-stay-updated-with-the-latest-technologies-and-trends-to-ensure-my-skills-remain-relevant-aTR {
        left: 1.7rem;
        top: 38.2rem;
        font-size: 2rem;
        line-height: 1.2125;
        width: 73.6rem;
        height: 17rem;
        position: absolute;
        font-weight: 400;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .backgrounderaser20240214205802674-1-Fhy {
        left: 61rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 94.3rem;
        height: 94.2rem;
        position: absolute;
      }
    }
    .about-me-N1u {
      top: 68.3rem;
      background-color: #ffffff;
      width: 144rem;
      height: 88.1rem;
      position: absolute;
      left: 0;

      .frame-1-sjM {
        position: relative;
        background-color: #61718a;
        width: 100%;
        height: 100%;

        .about-me-1Km {
          height: 6.4rem;
          left: 54.6rem;
          font-weight: 400;
          white-space: nowrap;
          font-family: Luckiest Guy, 'Source Sans Pro';
          width: 28.7rem;
          position: absolute;
          top: 8.4rem;
          font-size: 6.4rem;
          line-height: 1;
          color: #fedc97;
        }
        .rectangle-2-abtm-7No {
          background-color: #d9d9d9;
          border-radius: 5rem;
          width: 67rem;
          height: 56.3rem;
          position: absolute;
          left: 67.1rem;
          top: 19.2rem;
        }
        .backgrounderaser20240214210547388-1-Qsh {
          height: 63rem;
          position: absolute;
          left: 1.5rem;
          top: 11.3rem;
          object-fit: cover;
          vertical-align: top;
          width: 63.3rem;
        }
        .nothing-is-very-interesting-to-me-im-also-not-very-good-at-coding-because-i-dont-have-any-courses-i-want-to-take-i-took-it-because-its-said-to-be-in-demand-the-strand-i-took-in-senior-high-was-ict-thats-also-one-of-the-reasons-why-i-did-it-even-though-i-didnt-know-anything-at-that-time-even-making-powerpoint-and-documents-but-they-said-i-could-learn-that-too-then-all-my-hobbies-are-on-my-phone-reading-on-wattpad-and-webtoon-and-watching-tv-series-and-movies-so-when-im-not-doing-anything-important-i-spend-all-my-time-there-i7h {
          width: 55rem;
          left: 73.1rem;
          font-weight: 600;
          line-height: 1.495;
          color: #909090;
          font-family: Kanit, 'Source Sans Pro';
          height: 43.1rem;
          position: absolute;
          top: 25.8rem;
          font-size: 2.4rem;
        }
      }
    }
  }
  .works-9sD {
    width: calc(100% - 20.9rem);
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 10.5rem 15.8rem 10.4rem;

    .works-4zB {
      flex-shrink: 0;
      margin: 0rem 6.4rem 13.1rem 0rem;
      font-size: 6.4rem;
      font-weight: 400;
      line-height: 1;
      color: #bee3ba;
      font-family: Luckiest Guy, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-r9bv-yrF {
      flex-shrink: 0;
      margin-bottom: 5.2rem;
      width: 100%;
      display: flex;
      align-items: center;

      .item-2024-02-14-1-1-iYw {
        border-radius: 3rem;
        flex-shrink: 0;
        margin-right: 19rem;
        width: 51rem;
        height: 34.8rem;
        object-fit: cover;
        vertical-align: top;
      }
      .item-2024-02-14-1-cuD {
        flex-shrink: 0;
        width: 53.1rem;
        height: 34.8rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 3rem;
      }
    }
    .auto-group-rsdh-8sZ {
      margin: 0rem 13.8rem 0rem 12.8rem;
      width: calc(100% - 26.6rem);
      height: 5.9rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-npyx-eL7 {
        width: 25.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1e1e1e;
        line-height: 1.0975;
        color: #bee3ba;
        font-family: Manjari, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 45.5rem;
        height: 100%;
        font-size: 2rem;
        font-weight: 400;
        border-radius: 5rem;
        flex-shrink: 0;
      }
      .auto-group-wnet-vHd {
        display: flex;
        height: 100%;
        font-size: 2rem;
        font-weight: 400;
        font-family: Manjari, 'Source Sans Pro';
        width: 25.5rem;
        background-color: #1e1e1e;
        border-radius: 5rem;
        line-height: 1.0975;
        color: #bee3ba;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
      }
    }
  }
  .contact-CF9 {
    background-color: #61718a;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 12.7rem 23.5rem 12.6rem 23.3rem;
    width: 100%;
    height: 105.5rem;
    flex-shrink: 0;

    .contact-us-JZ5 {
      color: #fedc97;
      font-family: Luckiest Guy, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 3.6rem;
      font-size: 6.4rem;
      font-weight: 400;
      line-height: 1;
    }
    .auto-group-7nit-ESj {
      white-space: nowrap;
      flex-shrink: 0;
      padding: 2.1rem 3.7rem 1.4rem 3.7rem;
      font-size: 2.4rem;
      font-weight: 400;
      color: #b4b4b4;
      font-family: Kanit, 'Source Sans Pro';
      border-radius: 3rem;
      margin: 0rem 0.1rem 3.1rem 0rem;
      box-sizing: border-box;
      width: 98.8rem;
      line-height: 1.495;
      background-color: #ffffff;
    }
    .auto-group-ixbm-Urs {
      box-sizing: border-box;
      width: 98.8rem;
      font-size: 2.4rem;
      line-height: 1.495;
      color: #b4b4b4;
      flex-shrink: 0;
      margin: 0rem 0.1rem 3.1rem 0rem;
      padding: 2.1rem 4.9rem 1.4rem 4.9rem;
      font-weight: 400;
      font-family: Kanit, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #ffffff;
      border-radius: 3rem;
    }
    .auto-group-t5cs-799 {
      height: 38.2rem;
      color: #b4b4b4;
      box-sizing: border-box;
      padding: 2.1rem 4.8rem;
      width: 98.8rem;
      font-size: 2.4rem;
      font-family: Kanit, 'Source Sans Pro';
      background-color: #ffffff;
      border-radius: 3rem;
      margin: 0rem 0rem 7.6rem 0.1rem;
      flex-shrink: 0;
      line-height: 1.495;
      white-space: nowrap;
      font-weight: 400;
    }
    .socmed-kC7 {
      margin-right: 0.0061rem;
      width: 40.0939rem;
      height: 4rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
